colorlog==6.10.1
homeassistant==2026.6.1
mypy==2.1.0
pip>=26.1.1
pre-commit==4.6.0
ruff==0.15.16
ha-ffmpeg==3.2.2
aiodhcpwatcher==1.2.7
aiohasupervisor==0.5.0
aiousbwatcher==1.1.2
asyncinotify==4.4.4
scapy==2.7.0
hassil==3.5.0
home-assistant-intents==2026.6.1
PyTurboJPEG==1.8.3
# aiohasupervisor==0.4.3
mutagen==1.47.0
radios==0.3.2
gtts==2.5.4